html {
  box-sizing: border-box;
  font-family: 'Bevan', cursive;
  line-height: 1.5;
  background-color: #dbd6cf;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #713837;
  padding: .5em .75em;
  border-radius: 5px;
  border: 2px solid #713837;
}

header {
  background-color: #79756f;
  border: 3px solid #595652;
  margin: 0;
  width: 100%;
  padding: .6em;
}

ul {
  list-style-type: none;
  text-align: center;
}

h1 {
  text-align: center;
  margin: .3em;
}

li {
  display: inline-block;
  margin: .3em;
}

a:hover {
  background-color: #f33;
  border-color: #f33;
}

body {
  margin: 0;
}
